<div class="" style="margin-top:-250px">
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-3">
            <a href="#" title="test" class="product-img">
                <img style="height: 300px; width: 300px; padding: 20px;" alt="Up to 55% off | Upgrade to Smart TVs" src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/TVs/BAU/Kamya/1X_Desktop_CC_186x116._SY304_CB626348887_.jpg" />
            </a>
            <div class="title">
                <a href="#" title=""></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <a href="#" title="test" class="product-img">
                <img style="height: 300px; width: 300px; padding: 20px;" alt="Up to 55% off | Upgrade to Smart TVs" src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/TVs/BAU/Kamya/1X_Desktop_CC_186x116._SY304_CB626348887_.jpg" />
            </a>
            <div class="title">
                <a href="#" title=""></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <a href="#" title="test" class="product-img">
                <img style="height: 300px; width: 300px; padding: 20px;" alt="Up to 55% off | Upgrade to Smart TVs" src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/TVs/BAU/Kamya/1X_Desktop_CC_186x116._SY304_CB626348887_.jpg" />
            </a>
            <div class="title">
                <a href="#" title=""></a>
            </div>
        </div>

        <div class="item-box col-xs-12 col-sm-4 col-md-3">
            <a href="#" title="test" class="product-img">
                <img style="height: 300px; width: 300px; padding: 20px;" alt="Up to 55% off | Upgrade to Smart TVs" src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/TVs/BAU/Kamya/1X_Desktop_CC_186x116._SY304_CB626348887_.jpg" />
            </a>
            <div class="title">
                <a href="#" title=""></a>
            </div>
        </div>

    </div>
</div>
